<div class="entry">
	<a class="image" href="https://www.flickr.com/photos/{{flickr_user}}/{{flickr_id}}/" target="_blank"><img src="https://s3.amazonaws.com/helen-images/images/{{helen_img_filename}}"></a>
	<h2 class="title"><span class="index">#{{index}}</span> {{{flickr_title}}}</h2>
	<div class="description">{{{flickr_description}}}</div>
</div>